<div class="header">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="col-sm-12">
                <!-- <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar"> jzf-->
                <h1 class="text-center">{{ site.author.qiuzhijianli }}</h1>
                <h2 class="text-center">{{ site.author.webqianduan }}</h2>
                <p class="text-center">{{ site.author.authordesc }}</p>
            </div>

            <!-- <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block"> jzf-->
            <div class="col-sm-12">
                <h3 class="text-center">个人信息: {{ site.author.gerenxinxi }}</h3>
                <h4 class="text-center">求职目标: {{ site.author.qiuzhimubiao }} </h4>
                <p class="text-center">教育经历:{{ site.author.jiaoyujingli }}</p>
            </div>

            <div class="col-sm-12">
                <h4 class="text-center">联系电话: 13291822546 </h4>
                <p class="text-center">电子邮件: 2847739277@qq.com </p>
            </div>

        </div>

    </div>

</div>

